{% extends "layout.html" %}

{% block pageTitle %}
Data reporting - Submit coronavirus information
{% endblock %}

{% block beforeAppContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/home">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/uploads">Data reporting</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Care provision</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-xl">Submit new information for Redbridge
        </h2>
    </div>
</div>
<div class="govuk-grid-row">
    <form class="govuk-grid-column-three-quarters" action="/submitted" method="post">
        <div class="govuk-form-group govuk-!-margin-bottom-8">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="question-1">
                Total contacted
            </label>
            </h2>
            <div id="question-1-hint" class="govuk-hint">
                Number of people on the SPL in an LA area contacted by the local councils (contact can include number, letter, call or visit)
            </div>
            <input class="govuk-input govuk-input--width-3" id="question-1" name="question-1" type="number" step="1"
                   aria-describedby="event-name-hint">
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-8">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="question-2">
                Total not contacted
            </label>
            </h2>
            <div id="question-2-hint" class="govuk-hint">
                Numbers of CEVs on the SPL that the council was unable to contact
            </div>
            <input class="govuk-input govuk-input--width-3" id="question-2" name="question-2" type="number" step="1"
                   aria-describedby="event-name-hint">
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-8">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="question-3">
                Needs assessed and already met
            </label>
            </h2>
            <div id="question-3-hint" class="govuk-hint">
                Numbers of CEVs the council has managed to understand needs of (via NSSS or their own assessments) and are satisfied that the CEVs needs are being met?
            </div>
            <input class="govuk-input govuk-input--width-3" id="question-3" name="question-3" type="number" step="1"
                   aria-describedby="event-name-hint">
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-8">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="question-4">
                Food needs met - supported
            </label>
            </h2>
            <div id="question-4-hint" class="govuk-hint">
                Number of people the council has supported to access food (paid for by individual)
            </div>
            <input class="govuk-input govuk-input--width-3" id="question-4" name="question-4" type="number" step="1"
                   aria-describedby="event-name-hint">
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-8">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="question-5">
                Food needs met - supplied
            </label>
            </h2>
            <div id="question-5-hint" class="govuk-hint">
                Number of people to whom the local authority is directly providing food (costs met in whole or part by local authority)
            </div>
            <input class="govuk-input govuk-input--width-3" id="question-5" name="question-5" type="number" step="1"
                   aria-describedby="event-name-hint">
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-8">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="question-6">
                Basic and social support needs provided
            </label>
            </h2>
            <div id="question-6-hint" class="govuk-hint">
                Number of people provided with basic support and/or social contact
            </div>
            <input class="govuk-input govuk-input--width-3" id="question-6" name="question-6" type="number" step="1"
                   aria-describedby="event-name-hint">
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-8">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="question-7">
                Basic and social support needs not required
            </label>
            </h2>
            <div id="question-7-hint" class="govuk-hint">
                Number of people who did not need basic support and/or social contact after follow-up
            </div>
            <input class="govuk-input govuk-input--width-3" id="question-7" name="question-7" type="number" step="1"
                   aria-describedby="event-name-hint">
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-8">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="question-8">
                Total expenditure on support services
            </label>
            </h2>
            <div id="question-8-hint" class="govuk-hint">
                Reports on spending broken down by the above categories
            </div>
            <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-!-width-one-quarter" id="question-8" name="question-8" type="number" step="0.01" spellcheck="false">
            </div>
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-8">
            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                Submit and check
            </button>

            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Cancel
            </button>
        </div>
    </form>

</div>

{% endblock %}
