{% extends "layout.html" %}

{% block pageTitle %}
Sign in - Report coronavirus information
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l govuk-!-padding-top-0 " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div>
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Submission complete
                    </h1>
                    <div class="govuk-panel__body">Monday 2 Nov to Sunday 8 Nov</div>
                </div>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Contacts made</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Total CEVs contacted</td>
                        <td class="govuk-table__cell">{{ data['question-1'] }}</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Total CEVs not contacted</td>
                        <td class="govuk-table__cell">{{ data['question-2'] }}</td>
                    </tr>
                    </tbody>
                </table>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">CEV food needs</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CEVs: no food needs</td>
                        <td class="govuk-table__cell">{{ data['question-3'] }}</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CEVs: food supplied</td>
                        <td class="govuk-table__cell">{{ data['question-4'] }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CEVs: food other</td>
                        <td class="govuk-table__cell">{{ data['question-5'] }}</td>
                    </tr>
                    </tbody>
                </table>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Financial estimates</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CEV spend: total</td>
                        {% if data['question-6'] %}
                            <td class="govuk-table__cell">£{{ data['question-6'] }}</td>
                        {% else %}
                            <td class="govuk-table__cell"></td>
                        {% endif %}
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CEV spend: contact</td>
                        {% if data['question-7'] %}
                            <td class="govuk-table__cell">{{ data['question-7'] }}%</td>
                        {% else %}
                            <td class="govuk-table__cell"></td>
                        {% endif %}
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CEV spend: food</td>
                        {% if data['question-8'] %}
                            <td class="govuk-table__cell">{{ data['question-8'] }}%</td>
                        {% else %}
                            <td class="govuk-table__cell"></td>
                        {% endif %}
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CEV spend: basic</td>
                        {% if data['question-9'] %}
                            <td class="govuk-table__cell">{{ data['question-9'] }}%</td>
                        {% else %}
                            <td class="govuk-table__cell"></td>
                        {% endif %}
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CEV spend: other</td>
                        {% if data['question-10'] %}
                            <td class="govuk-table__cell">{{ data['question-10'] }}%</td>
                        {% else %}
                            <td class="govuk-table__cell"></td>
                        {% endif %}
                    </tr>


                    </tbody>
                </table>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Support confidence</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Confidence demands can be met</td>
                        <td class="govuk-table__cell">{{ data['question-11'] }}</td>
                    </tr>
                    </tbody>
                </table>

                <p class="govuk-body">
                    Thanks for submitting this information
                </p>
                <p class="govuk-body">
                    Please update it in 7 days time
                </p>


                <div class="govuk-form-group govuk-!-margin-bottom-8">

                    <a class="govuk-button govuk-!-margin-right-1" href="/outcomes_completed">
                        Continue
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}
